{% extends "base.html" %}

{% block content %}
<section class="krea-container main tags">
    <div class="title">
        <h1>Tags</h1>
    </div>
    <div class="tag-list">
        <div class="tag">
            <h2 style="display: inline;">#{{ term.name | title }}</h2>
            <div class="bubble count">{{ term.pages | length }}</div>
        </div>
        <div class="post">
            <ul>
                {% for post in term.pages %}
                <li>
                    <a href="{{ post.permalink }}" style="display: inline;">{{ post.title | title }}</a>
                    <div class="post-date" style="display: inline;">— {{ post.date | date(format=config.extra.date_format) }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock content %}